<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'user info', user: @user %>

      <div class="row">
        <%= link_to edit_user_path,class:"btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
　    </div>

      <h1>New book</h1>
      <%= form_with model: @book do |f| %>
       <h4>Title</h4>
       <%= f.text_field :title %>
       <h4>Opinion</h4>
       <%= f.text_area :body %>
       <%= f.submit 'Create Book' %>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <% @books.each do |book| %>
        <p>Title</p>
        <span><%= book.title %></span>
        <p>Opinion</p>
        <span><%= book.body %></span>
      <% end %>
    </div>

  </div>
</div>