<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user info', user: @user %>
      <div class="row">
        <%= link_to edit_user_path(current_user.id),class:"btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
　    </div>

      <h1>New book</h1>
      <%= form_with model: @book do |f| %>
       <h4>Title</h4>
       <%= f.text_field :title %>
       <h4>Opinion</h4>
       <%= f.text_area :body %>
       <%= f.submit 'Create Book' %>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
        <% if @book_to_show.user.image.attached? %>
         <%= image_tag @book_to_show.user.image, size: "200x200" %>
        <% else %>
         <%= image_tag 'no_image.jpeg',size: "200x200" %>
        <% end %>

       <%= link_to @user.name, user_path(@user.id) %>

        <%= link_to @book_to_show.title, book_path(@book_to_show) %>
        <span><%= @book_to_show.body %></span>

        <span>
         <%=link_to "Edit", edit_book_path(@book_to_show.id) %>
         <%=link_to "Destroy", books_path(@book_to_show.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </span>

    </div>
  </div>
</div>